@font-face {
  font-family: "Finity";
  src: url("../fonts/finity-9325-webfont.eot");
  src: url("../fonts/finity-9325-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/finity-9325-webfont.woff") format("woff"), url("../fonts/finity-9325-webfont.svg#finityregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ultra";
  src: url("../fonts/ultra-webfont.eot");
  src: url("../fonts/ultra-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ultra-webfont.woff") format("woff"), url("../fonts/ultra-webfont.svg#ultraregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Anurati";
  src: url("../fonts/anurati-regular-webfont.eot");
  src: url("../fonts/anurati-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/anurati-regular-webfont.woff") format("woff"), url("../fonts/anurati-regular-webfont.svg#anuratiregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.contacts {
  margin-left: 15vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}
.contacts h3 {
  margin-bottom: 4vh;
  color: #F7F7FF;
  font-family: "Jost", sans-serif;
  font-size: 1.25em;
  word-spacing: 0.25em;
}
.contacts h3 span {
  word-spacing: 1em;
}
.contacts .contactlinks {
  margin-top: 8vh;
  float: left;
  position: absolute;
}
.contacts .contactlinks .email {
  line-height: 7.5vh;
  background-position: center;
  display: flex;
  height: 6.5vh;
  width: 20vw;
  margin-bottom: 2.5vh;
  color: #623CEA;
  transition: color 250ms ease-in-out;
  -webkit-transition: color 250ms ease-in-out;
  -moz-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
}
.contacts .contactlinks .email a {
  display: flex;
  margin-left: -1vw;
  margin-top: -2vh;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  height: 7.5vh;
  width: 17.5vw;
  padding-left: 1vw;
  padding-right: 0vw;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Ubuntu";
  color: #623CEA;
  transition: color 250ms ease-in-out;
  -webkit-transition: color 250ms ease-in-out;
  -moz-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
}
.contacts .contactlinks .email a:hover {
  font-size: 0;
}
.contacts .contactlinks .email a:hover:after {
  content: attr(data-hover);
  font-size: 1rem;
  color: #f4bbd3;
}
.contacts .contactlinks #contacttxt {
  display: inline;
  font-size: 1em;
  font-family: "Ubuntu";
  color: #F7F7FF;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}
.contacts .contactlinks .msg {
  margin-top: 6.5vh;
}
.contacts .contactlinks .msg a {
  display: flex;
  margin-left: -1vw;
  margin-top: 0vh;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  height: 100%;
  width: 25vw;
  padding-left: 1vw;
  padding-right: 0vw;
  text-decoration: none;
  font-size: 1em;
  font-family: "Ubuntu";
  color: #623CEA;
  transition: color 250ms ease-in-out;
  -webkit-transition: color 250ms ease-in-out;
  -moz-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
}
.contacts .contactlinks .msg a:hover {
  color: #F4BBD3;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1.9vh;
}

html, body {
  padding: 0;
  margin: 0;
  align-content: center;
  display: block;
  justify-content: center;
}

body {
  background-color: black;
  height: 100%;
  align-content: center;
}

.wrapper {
  min-height: 93vh;
  position: relative;
  padding-bottom: 5vh;
  margin-top: 1.5vh;
  background-color: #0A0528;
  align-self: center;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  margin-bottom: 1.3vh;
  align-content: center;
  align-self: center;
}
.wrapper .content {
  padding-bottom: 2.5rem;
}

.spacer {
  height: 8vh;
}

.title {
  margin-left: 0vw;
  margin-right: 20vw;
  margin-bottom: 0vh;
  width: 75vw;
  display: block;
}
.title a {
  margin-right: 0vw;
  margin-left: 14vw;
  padding-left: 1vw;
  padding-bottom: 1vh;
  width: 75vw;
  height: -1%;
  display: inline;
  text-decoration: none;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  width: 30vw;
  display: block;
}
.title a:hover {
  transform: scale(1.05);
}
.title h1 {
  margin-bottom: 10vh;
  margin-top: 0;
  margin-left: -0.25vW;
  padding-top: 2vh;
  padding-bottom: 1vh;
  width: 75vw;
  display: inline;
  align-content: left;
  font-size: 4.2em;
  color: #F7F7FF;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-variant: small-caps;
  word-spacing: 0.3em;
  width: 50vw;
}
.title canvas {
  margin-top: 0;
  margin-bottom: 1vh;
  margin-right: 15vw;
  margin-left: 0.1vw;
  width: 12.5vw;
  height: 0.8%;
  background-color: #623CEA;
}
.title h2 {
  margin-top: 0vh;
  margin-bottom: 0;
  display: inline;
  width: -1vw;
  font-size: 2.2em;
  color: #F4BBD3;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-stretch: ultra-expanded;
  word-spacing: 0.1em;
  width: 50vw;
}

.studio img {
  margin-bottom: 10vh;
  margin-left: 15vw;
  width: 75vw;
}

.indextext {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-left: 15.15vw;
  color: #F7F7FF;
  font-family: "ubuntu", sans-serif;
  font-size: 1em;
  line-height: 2.6;
  font-weight: 200;
}
.indextext a {
  text-decoration: none;
  color: #623CEA;
  transition: all 250ms ease;
}
.indextext a:hover {
  color: #F4BBD3;
  transform: scale(2.025);
}

.bottomlinks {
  margin-top: 4vh;
  margin-bottom: 4vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: space-around;
}
.bottomlinks a {
  color: #F4BBD3;
  font-size: 1.5em;
  font-family: "Jost", sans-serif;
  text-decoration: none;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
.bottomlinks a:hover {
  transform: scale(1.15);
}

#footer {
  margin-top: 0.2vh;
  margin-bottom: 0.8vh;
  padding-top: 0.4vh;
  padding-bottom: 0.8vh;
  margin-left: 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #779BE7;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 0.75em;
}

.footer {
  display: flex;
  justify-content: center;
}

#platcontent h3 {
  font-size: 1.25em;
  font-family: "Jost", sans-serif;
  color: #F7F7FF;
}

.platforms {
  margin-left: 15.15vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.image {
  margin-top: 5vh;
  position: relative;
  width: 75vw;
}

.image img {
  width: 100%;
  vertical-align: top;
}

.image:after, .image:before {
  position: absolute;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}

.image:after {
  content: "\a";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.image:before {
  text-align: center;
  content: attr(data-content);
  display: inline;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  width: 100%;
  color: #F7F7FF;
  z-index: 1;
  padding: 4px 10px;
  line-height: 25vh;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.image:hover:after, .image:hover:before {
  opacity: 1;
}

.image {
  width: 75vw;
  height: 14vw;
}
.image img {
  height: 100%;
  width: 100%;
}

.singles {
  margin-left: 15.15vw;
  color: #F7F7FF;
  font-family: "Jost", sans-serif;
  word-spacing: 0.25em;
  font-size: 1.3em;
}

.gallery {
  margin-bottom: 10vh;
  margin-left: 14.6vw;
  display: flex;
  flex-direction: column;
}
.gallery .row {
  display: flex;
  justify-content: justify-content;
  width: 100%;
}
.gallery .row iframe {
  font-family: "Ubuntu", cursive;
}
.gallery iframe {
  margin: 0.5vw;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #02010A;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202024;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #343439;
}

/*# sourceMappingURL=main.css.map */
