.contacts {
  margin-left: 15vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
  h3 {
    margin-bottom: 4vh;
    color: $white;
    font-family: 'Jost', sans-serif;
    font-size: 1.25em;
    word-spacing: 0.25em;
    span {
      word-spacing: 1em;
    }
  }
  .contactlinks {
    margin-top: 8vh;
    float: left;
    position: absolute;
    .email {
      line-height: 7.5vh;
      background-position: center;
      display: flex;
      height: 6.5vh;
      width: 20vw;
      margin-bottom: 2.5vh;
      color: $blue;
      transition: color 250ms ease-in-out;
      -webkit-transition: color 250ms ease-in-out;
      -moz-transition: color 250ms ease-in-out;
      -o-transition: color 250ms ease-in-out;
      a {
        display: flex;
        margin-left: -1vw;
        margin-top: -2vh;
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
        height: 7.5vh;
        width: 17.5vw;
        padding-left: 1vw;
        padding-right: 0vw;
        text-decoration: none;
        font-size: 1rem;
        font-family: 'Ubuntu';
        color: $blue;
        transition: color 250ms ease-in-out;
        -webkit-transition: color 250ms ease-in-out;
        -moz-transition: color 250ms ease-in-out;
        -o-transition: color 250ms ease-in-out;
        &:hover {
          font-size: 0;
          &:after {
            content: attr(data-hover);
            font-size: 1rem;
            color: rgba(244, 187, 211, 1);
          }
        }
      }
    }
    #contacttxt {
      display: inline;
      font-size: 1em;
      font-family: 'Ubuntu';
      color: $white;
      float: left;
      margin-top: 0;
      margin-bottom: 0;
    }
    .msg {
      margin-top: 6.5vh;
      a {
        display: flex;
        margin-left: -1vw;
        margin-top: 0vh;
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
        height: 100%;
        width: 25vw;
        padding-left: 1vw;
        padding-right: 0vw;
        text-decoration: none;
        font-size: 1em;
        font-family: 'Ubuntu';
        color: $blue;
        transition: color 250ms ease-in-out;
        -webkit-transition: color 250ms ease-in-out;
        -moz-transition: color 250ms ease-in-out;
        -o-transition: color 250ms ease-in-out;
        &:hover {
          color: $pink;
        }
      }
    }
  }
}
