body {
  background-color: black;
}

.wrapper {
background-color: whitesmoke;
}

h1 {
  align-content: left;
  font-size: 24px;
  color: rgb(50, 0, 50);
  padding-left: 5em;
}

h2 {
align-content: left;
font-size: 18px;
color: rgb(100, 50, 100);
padding-left: 5em;
}
