* {
  box-sizing: border-box;
}

html, body {
padding: 0;
margin: 0;
}

body {
  background-color: black;
  height: 100%;
  align-content: center;
}

.wrapper {
  margin-top: 1.5vh;
  background-color: #0A0528;
  height: 97vh;
  min-height: 100%;
  align-self: center;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  margin-bottom: 1.3vh;
  align-content: center;
  align-self: center;
}

//.titleclick {
//  text-decoration: none;
//}


.title {
  width: 50%;
  margin-right: 50vw;
//  padding-top: 10vh;
  margin-bottom: 5vh;
  a {

    text-decoration: none;
    transition: all 250ms ease-in-out;
    &:hover {
      transform: scale(1.035);
    }
    width: 30vw;
    margin-left: 15vw;
    margin-right: 50vw;
    display: block;
  }
}

h1 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: -0.65vh;
  margin-right: none;
  //  margin-left: 14.65vw;
  align-content: left;
  font-size: 4.2em;
  color: #F7F7FF;
  padding-top: 10vh;
  padding-bottom: 1vh;
  font-family: 'Jost', sans-serif;
  font-weight: 200;
  font-variant: small-caps;
  word-spacing: 0.3em;
  width: 50vw;
}

#rectangle {
  margin-top: 0px;
  padding-top: none;
  margin-bottom: 0px;
  margin-right: 37.5vw;
//  margin-left: 15.1vw;
  width: 12.5vw;
  height: 0.8%;
  background-color: #623CEA;

}

h2 {
  margin-top: 0vh;
  align-content: left;
  font-size: 2.2em;
  color: #F4BBD3;
//  margin-left: 14.95vw;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  font-stretch: ultra-expanded;
  word-spacing: 0.1em;
  width: 50vw;
}

.indextext {
  margin-top: 7.5vh;
  color: #F7F7FF;
  font-family: 'Exo', sans-serif;
  font-size: 0.9em;
  padding-left: 15.1vw;
  line-height: 2.758;
  font-weight: inherit;
}

.footer {
  color: #2AB7CA;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 0.75em;
}
