@import "borderbox";
@import "mixins";
@import "reset";
@import "typography";
@import "variables";

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #02010A;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #343439;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5E5E63;
}
