@font-face {
    font-family: 'Finity';
    src: url('../fonts/finity-9325-webfont.eot');
    src: url('../fonts/finity-9325-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/finity-9325-webfont.woff') format('woff'),
         url('../fonts/finity-9325-webfont.svg#finityregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Ultra';
    src: url('../fonts/ultra-webfont.eot');
    src: url('../fonts/ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ultra-webfont.woff') format('woff'),
         url('../fonts/ultra-webfont.svg#ultraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Anurati';
    src: url('../fonts/anurati-regular-webfont.eot');
    src: url('../fonts/anurati-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/anurati-regular-webfont.woff') format('woff'),
         url('../fonts/anurati-regular-webfont.svg#anuratiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
